FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIRESTORE_HOME_ID=maison

# HiveMQ Cloud / broker settings
MQTT_HOST=broker.hivemq.com
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=

# Topics
MQTT_TOPIC_COMMAND=maison/led
MQTT_TOPIC_FEEDBACK=maison/led/status
MQTT_TOPIC_LWT=maison/online

# MQTT Client IDs
MQTT_CLIENT_ID=smart-home-bridge

